extend ../layout
block content
    .container
        .row
            .col-md-6.col-md-offset-3
                form(method="POST",action="/user/signin")
                    .modal-header 登录
                    .modal-body
                        .form-group
                            label(for='signupName') 用户名
                            input#signupName.form-control(name="user[name]",type="text")
                        .form-group
                            label(for='signinPassword') 密码
                            input#signinPassword.form-control(name="user[password]",type="text")
                        button.btn.btn-success.btn-block(type="submit") 提交
                    .modal-footer